@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .neon-glow {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  }

  .shadow-neon:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  }

  .neon-checkbox {
    accent-color: cyan;
  }
}